!------------------------
! Fonts 
!------------------------
!URxvt*faceSize: 11
URxvt*eightBitInput: false

! Fixes problem where 1st line of terminal starts halfway down screen.
URxvt*geometry: 94x97

!!!!! Terminus Font - pacman -S terminus-font

!URxvt*font: xft:xos4 Terminus:medium:size=13:antialiasing=false
!URxvt*boldFont: xft:xos4 Terminus:bold:size=13:antialiasing=false:style=medium

! Terminus does not have italics. Monospace is a default font.
!URxvt*italicFont: xft:monospace:italic:pixelsize=17:antialiasing=true:
!URxvt*bolditalicFont: xft:monospace:bolditalic:pixelsize=17:antialiasing=true:


! Fira Code (ttf-fira-code)
URxvt*font: xft:Fira Code:regular:size=12
URxvt*boldFont: xft:Fira Code:bold:size=12
URxvt*italicFont: xft:Fira Code:italic:size=12
URxvt*bolditalicFont: xft:Fira Code:bolditalic:size=12




!This is to fix weird letter spacing with fonts.
!But first be try using "pixelsize=12" instead of "size=12" before attempting below
!URxvt*letterSpace: -1
!URxvt*lineSpace: -1

!Disable hideous scrollbar
URxvt*scrollBar:  off 
!Able to scroll longer output
URxvt*saveLines:  10000

!-------------------------
! Colors - Bad_Wolf 
!-------------------------
!Testing Gruvbox!

!#define blackgravel #1c1b1a
!#define darkgravel #242321
!#define deepgravel #45413b
!#define mediumgravel #666462
!#define gravel #857f78
!#define plain #f8f6f2
!#define lightgravel #998f84
!#define snow #ffffff
!#define taffy #ff2c4b
!#define orange #ffa724
!#define dalespale #fade3e
!#define lime #aeee00
!#define saltwatertaffy #8cffba
!#define tardis #0a9dff
!#define dress #ff9eb8
!#define darkroast #88633f
!#define   coffee           #c7915b
!#define   dirtyblonde      #f4cf86

!*.foreground:   plain
!*.background:   blackgravel
!*.cursorColor:  plain
!*.color0:       blackgravel
!*.color1:       taffy
!*.color2:       lime
!*.color3:       dalespale
!*.color4:       tardis
!*.color5:       dress
!*.color6:       saltwatertaffy
!*.color7:       plain
!*.color8:       mediumgravel
!*.color9:       orange
!*.color10:      coffee
!*.color11:      dirtyblonde
!*.color12:      gravel
!*.color13:      lightgravel
!*.color14:      darkroast
!*.color15:      snow

! Gruvbox dark color scheme

*.foreground:   #ebdbb2
*.background:   #282828
*.cursorColor:  #ebdbb2

! black
*.color0:       #282828
*.color8:       #928374

! red
*.color1:       #cc241d
*.color9:       #fb4934

! green
*.color2:       #98971a
*.color10:      #b8bb26

! yellow
*.color3:       #d79921
*.color11:      #fabd2f

! blue
*.color4:       #458588
*.color12:      #83a598

! magenta
*.color5:       #b16286
*.color13:      #d3869b

! cyan
*.color6:       #689d6a
*.color14:      #8ec07c

! white
*.color7:       #a89984
*.color15:      #ebdbb2

!--------------------------
! Copy / Paste
!--------------------------
URxvt.iso14755:         false
URxvt.keysym.Shift-Control-V:    eval:paste_clipboard
URxvt.keysym.Shift-Control-C:    eval:selection_to_clipboard
!--------------------------
! End
! -------------------------
